@charset "UTF-8";
/* general structure */
#mainWrapper {
  display: flex;
  width: min(1200px, 90vw);
  height: 80vh;
  margin: 10vh auto 0;
  position: relative;
}

#leftWrapper {
  width: 70%;
  height: 100%;
}

#rightWrapper {
  width: 30%;
  height: 100%;
  background-color: green;
}

@media screen and (max-width: 970px) {
  #leftWrapper {
    width: 100%;
  }

  #rightWrapper {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  #mainWrapper {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
}
/* all the messages */
#outputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  background-color: #0a0a0a;
  border-bottom: none;
  font-size: 1rem;
  overflow: auto;
}
#outputContainer > div {
  display: flex;
  border: 2px solid #555;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 8px;
  line-height: 130%;
}
#outputContainer > div .imgContainer {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  position: relative;
}
#outputContainer > div img {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
}
#outputContainer > div .imgColor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(28, 127, 238, 0.3);
}
#outputContainer > div h3, #outputContainer > div h4 {
  display: inline-block;
}
#outputContainer > div h3 {
  margin-right: 10px;
}
#outputContainer > div h4 {
  color: #555;
  font-size: 0.8rem;
  vertical-align: middle;
}
#outputContainer > div p {
  margin-top: 5px;
  white-space: pre-wrap;
  word-break: break-word;
}

/* text field and button for sending messages */
#inputWrapper {
  width: 100%;
  height: 10%;
  margin: auto;
  display: flex;
}
#inputWrapper input[type=text] {
  width: 86%;
  border-right: none;
}

/* contains currently active users */
#activeUsersContainer {
  color: #ddd;
  border-left: none;
  height: 70%;
}
#activeUsersContainer h1 {
  font-size: 1.35rem;
  text-align: center;
  margin-bottom: 30px;
}
#activeUsersContainer ul {
  padding-left: 20px;
  line-height: 150%;
  list-style: none;
  font-size: 1.1rem;
}
#activeUsersContainer ul li::before {
  content: "•";
  color: #31750f;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 0;
  width: 1rem;
  display: inline-block;
  vertical-align: middle;
}

/* button for color picker and maybe something else */
#optionsContainer {
  height: 15%;
  border-top: none;
  border-left: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#optionsContainer button {
  width: 80%;
  border: none;
  background-color: #111;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #ccc;
  border: 2px solid black;
}
#optionsContainer button:hover {
  cursor: pointer;
  background-color: #151515;
}

/* contains links to login and register pages */
#loginOrRegisterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: none;
  border-top: none;
  height: 15%;
}
#loginOrRegisterContainer div {
  font-size: 1.5rem;
  text-align: center;
}

/* profile picture color picker */
#colorPickerContainer {
  display: none;
  user-select: none;
  box-sizing: border-box;
  border: 8px solid #777;
  width: 75%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%);
}

#colorContainer {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  background-color: white;
  outline: 5px solid #777;
  border: 1px solid #777;
  text-align: center;
}
#colorContainer img {
  height: 100%;
  display: inline-block;
  max-width: 100%;
}

#color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
}
#color:hover {
  cursor: pointer;
}

#slidersContainer, #sliderNamesContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 65%;
  height: 45%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 30px;
  box-sizing: border-box;
}

#slidersContainer {
  background-color: #333;
  border: 3px solid #444;
}

#sliderNamesContainer {
  border: 3px solid transparent;
  pointer-events: none;
}
#sliderNamesContainer p {
  height: 25px;
  box-sizing: border-box;
  font-size: 20px;
  padding-top: 3px;
  line-height: 100%;
  text-align: center;
  color: #eee;
}

#colorCloseButton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  background-color: #666;
  border: 3px solid #444;
  border-radius: 50%;
  font-size: 1.7rem;
  font-weight: bold;
  color: #222;
}
#colorCloseButton:hover {
  background-color: #777;
  color: #333;
  cursor: pointer;
}

#valuesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 80px;
  height: 80px;
  background-color: #666;
  border: 3px solid #444;
  padding-left: 10px;
  box-sizing: border-box;
}

#randomColorButton {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: #666;
  border: 3px solid #444;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
}
#randomColorButton:hover {
  background-color: #777;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
